<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-11 col-md-11 col-lg-8 col-xl-6 card mt-3">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-12 pt-3">
            <h3>Cadastro de clientes</h3>
          </div>
        </div>

        <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">

          <div class="row">
            <div class="col-6">
              <label class="form-label">Primeiro Nome*:</label>
              <input formControlName="firstName" class="form-control ng-untouched ng-pristine ng-valid" />

              <div
                *ngIf="customerForm.get('firstName')?.errors && (customerForm.get('firstName')?.touched && customerForm.get('firstName')?.dirty)"
                class="alert alert-danger">
                Campo obrigatório.
              </div>
            </div>

            <div class="col-6">
              <label class="form-label">Sobrenome*:</label>
              <input formControlName="lastName" class="form-control ng-untouched ng-pristine ng-valid" />

              <div
                *ngIf="customerForm.get('lastName')?.errors && (customerForm.get('lastName')?.touched && customerForm.get('lastName')?.dirty)"
                class="alert alert-danger">
                Campo obrigatório.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <label class="form-label">E-mail*:</label>
              <input formControlName="email" class="form-control ng-untouched ng-pristine ng-valid" />

              <div
                *ngIf="customerForm.get('email')?.errors && (customerForm.get('email')?.touched && customerForm.get('email')?.dirty)"
                class="alert alert-danger">
                Campo obrigatório.
              </div>
            </div>

            <div class="col-6">
              <label class="form-label">Telefone*:</label>
              <input formControlName="phone" class="form-control ng-untouched ng-pristine ng-valid" />

              <div
                *ngIf="customerForm.get('phone')?.errors && (customerForm.get('phone')?.touched && customerForm.get('phone')?.dirty)"
                class="alert alert-danger">
                Campo obrigatório.
              </div>
            </div>

          </div>


          <div class="row">
            <div class="col-12">
              <label class="form-label">CPF*:</label>
              <input formControlName="cpf" class="form-control ng-untouched ng-pristine ng-valid" />

              <div
                *ngIf="customerForm.get('cpf')?.errors && (customerForm.get('cpf')?.touched && customerForm.get('cpf')?.dirty)"
                class="alert alert-danger">
                Campo obrigatório.
              </div>
            </div>
          </div>

          <div formGroupName="address">
            <div class="row">
              <div class="col-12 mt-3 mb-2">
                <h5>Endereço:</h5>
              </div>
            </div>

            <div class="row">

              <div class="col-12 col-md-3">
                <label for="zipCode" class="form-label">CEP*:</label>
                <input type="text" class="form-control ng-untouched ng-pristine ng-valid" formControlName="zipCode"
                  #zipCode (blur)="searchAddress(zipCode.value)" name="zipCode" />

                <div
                  *ngIf="customerForm.get('zipCode')?.errors && (customerForm.get('zipCode')?.touched && customerForm.get('zipCode')?.dirty)"
                  class="alert alert-danger">
                  Campo obrigatório.
                </div>
              </div>

              <div class="col-12 col-md-3">
                <label for="street" class="form-label">Logradouro*:</label>
                <input type="text" class="form-control ng-untouched ng-pristine ng-valid" name="street"
                  [(ngModel)]="customer.address.street" formControlName="street" name="street" />

                <div
                  *ngIf="customerForm.get('street')?.errors && (customerForm.get('street')?.touched && customerForm.get('street')?.dirty)"
                  class="alert alert-danger">
                  Campo obrigatório.
                </div>
              </div>

              <div class="col-12 col-md-3">
                <label for="number" class="form-label">Número*:</label>
                <input type="text" class="form-control ng-untouched ng-pristine ng-valid" formControlName="number"
                  name="number" />

                <div
                  *ngIf="customerForm.get('number')?.errors && (customerForm.get('number')?.touched && customerForm.get('number')?.dirty)"
                  class="alert alert-danger">
                  Campo obrigatório.
                </div>
              </div>

              <div class="col-12 col-md-3">
                <label for="complement" class="form-label">Complemento:</label>
                <input type="text" class="form-control" formControlName="complement" name="complement" />

              </div>

            </div>

            <div class="row">

              <div class="col-12 col-md-3">
                <label for="neighborhood" class="form-label">Bairro*:</label>
                <input type="text" class="form-control ng-untouched ng-pristine ng-valid" formControlName="neighborhood"
                  name="neighborhood" />

                <div
                  *ngIf="customerForm.get('neighborhood')?.errors && (customerForm.get('neighborhood')?.touched && customerForm.get('neighborhood')?.dirty)"
                  class="alert alert-danger">
                  Campo obrigatório.
                </div>
              </div>

              <div class="col-12 col-md-3">
                <label for="city" class="form-label">Cidade*:</label>
                <input type="text" class="form-control ng-untouched ng-pristine ng-valid" formControlName="city"
                  name="city" />

                <div
                  *ngIf="customerForm.get('city')?.errors && (customerForm.get('city')?.touched && customerForm.get('city')?.dirty)"
                  class="alert alert-danger">
                  Campo obrigatório.
                </div>
              </div>

              <div class="col-12 col-md-3">
                <label for="state" class="form-label">Estado*:</label>
                <input type="text" class="form-control ng-untouched ng-pristine ng-valid" formControlName="state"
                  name="state" />

                <div
                  *ngIf="customerForm.get('state')?.errors && (customerForm.get('state')?.touched && customerForm.get('state')?.dirty)"
                  class="alert alert-danger">
                  Campo obrigatório.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 d-grid gap-2 mt-4 mb-2">
              <button class="btn btn-lg btn-primary" [disabled]="customerForm.invalid"
                type="submit">Cadastrar-se</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>